@use "/app/scss/variables" as *;

header {
  width: calc(100vw - 150px - 150px);
  height: calc(100px + 50px);
  background-color: $off-white;
  position: fixed;
  top: 0;
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .header-main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    .header-logo {
      cursor: pointer;
    }

    .header-menu {
      display: none;
    }

    .mask-off {
      display: none;
    }

    .header-navlinks {
      .navlinks {
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
        list-style: none;
        color: $dr-gr-blue;

        .nav-items {
          cursor: pointer;

          &:hover {
            color: $sf-red;
          }
        }
      }
    }
  }
}

//*-----> mobiles
@media screen and (max-width: 376px) {
  body {
    margin: 0 0;

    header {
      margin: 0 0;
      width: 100vw;
      height: 90px;
      // background-color: aqua;
      display: flex;
      flex-direction: row;
      justify-content: start;

      .header-main {
        margin: 0 15px;
        width: 100%;

        .header-logo {
          width: auto;
          height: auto;

          img {
            width: 45px;
            height: auto;
          }
        }

        .header-menu {
          z-index: 101;
          display: block;
          position: absolute;
          right: 0;
          cursor: pointer;
        }

        .mask-off {
          display: none;
        }

        .mask-on {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 100vw;
          height: 100vh;
          z-index: 99;
          background-color: black;
          opacity: 0.5;
        }

        .header-navlinks {
          display: none;
        }

        .navlinks-open {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 100;
          display: block;
          width: 70%;
          height: 100vh;
          background-color: $off-white;

          .navlinks {
            margin: 150px 0;
            padding: 0 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
            color: $vr-dr-blue;

            .nav-items {
              padding: 10px 20px;
              font-size: 17px;
              cursor: pointer;

              &:hover {
                color: $sf-red;
              }
            }
          }
        }
      }
    }
  }
}
